* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
}
ul {
  padding: 0;
}
/*NavSec*/

.navsec-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2.9px 7.8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vw;
}
.log-in {
  display: none;
}
.navsec-con a {
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.nav-on {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2.9px 7.8px rgba(0, 0, 0, 0.1);
  padding-right: 50px;
  margin-top: 8.2px;
}
.nav-on li {
  display: flex;
  padding-bottom: 12px;
}
.nav-on ul {
  padding: 0;
}
.nav-off {
  display: none;
}
.menu-icon {
  display: none;
}
.menu {
  display: none;
}
.log-in {
  color: rgb(149 147 147);
}
.navsec-con a :hover {
  color: rgb(241, 93, 46);
}
.bidders {
  color: rgb(241, 93, 46);
}
.nav-list {
  display: flex;
}
.nav-list li {
  display: inline-block;
  padding: 0 2vw;
}
.active-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  position: absolute;

  margin-top: 1.2em;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 7px 7px;
  box-shadow: 0 2.9px 7.8px rgba(0, 0, 0, 0.1);
}
.active-list li {
  padding: 7px 0;
}

.hidden-list {
  display: none;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore a:hover {
  color: rgb(241, 93, 46);
}
a {
  text-decoration: none;
}
.logs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.get-started {
  background-color: rgb(241, 93, 46);
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  font-weight: bolder;
}

/*Sec1*/

/*sec1-left*/

/*
.sec1-con {
  margin-top: 8vh;
}


*/
.hero {
  display: flex;
  margin-bottom: 20px;
}

.sec1-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 4em; */
  gap: 13px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 8vw;
  text-align: center;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-con {
  display: flex;
  gap: 10px;
}
.email-field {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid gray;
}
.start {
  background-color: rgb(241, 93, 46);
  border: none;
}

/*sec1-right*/

.sec1-right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.circle img {
  width: 40vw;
}

.adspace {
  display: flex;
}

.adspace-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 60px;
  gap: 60px;
  width: 50vw;
}
.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 20px;
}
.adspace-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

/*sec2*/

.sec2-con {
  padding: 35px 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.table-con {
  border: 1px solid rgb(249 38 222 / 42%);

  border-radius: 3px;
}
.table-item {
  display: flex;
  border-bottom: 1px solid rgb(249 38 222 / 42%);
  align-items: center;
  justify-content: space-between;
  padding: 20px 3vw;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.name img {
  width: 30px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buy {
  background-color: rgb(230, 230, 230);
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

/*sec3
box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
transition: box-shadow 500ms ease 0s, opacity 500ms ease 0s, z-index 0ms ease-out 500ms;
*/

.sec3-con {
  padding: 0 7vw;
  display: flex;
  /*background-image: url("../images/graduation.svg");*/
  margin: 60px;
  gap: 15px;
}
.sec3-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.sec3-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  gap: 20px;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*
.product-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  transition: box-shadow 500ms ease 0s, opacity 500ms ease 0s,
    z-index 0ms ease-out 500ms;
  border: black solid 1px;
}


*/

.product-con :hover {
  transition: box-shadow 500ms ease 0s, opacity 500ms ease 0s,
    z-index 0ms ease-out 500ms;
}

.product-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: rgb(0 0 0 / 53%) 0px px 0px;

  box-shadow: rgb(32 48 20 / 35%) 0px 0px 3px;
  border-radius: 10px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.product p {
  color: rgb(249, 38, 222);
  font-weight: 600;
  font-size: large;
}
.view-more {
  display: flex;
  gap: 6px;

  align-items: center;
}

/*sec4*/

.sub-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.sec-con {
  display: flex;
  padding: 0 55px;
  align-items: center;
  justify-content: space-between;
}
.sec4-left {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.sec4-right {
  width: 40vw;
}
.big-rect {
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-rect img {
  width: 42vw;
}
.join {
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
}
.join img {
  width: 6vh;
}
.object {
  display: flex;
  align-items: center;
  gap: 10px;
}
.object-titles {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*sec5*/

.ads {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.ad {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/*sec6*/

.adspace2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ad-item img {
  width: 12vw;
}
hr {
  width: 11vw;
}

/*footer*/

.footer {
  display: flex;

  justify-content: space-evenly;
  background-color: rgb(230, 230, 230);
  padding: 50px 0;
  margin-top: 50px;
}
.footer-items {
  display: flex;
  gap: 10vw;
}
.items-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-item {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.footer-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bahai {
  display: none;
}

/*media querries*/

/*
@media (max-width: 1440px) {
  .sec1-con {
    margin-top: 12vh;
  }
}
*/

@media (max-width: 768px) {
  /*navsec*/
  .navsec-con {
    justify-content: space-between;
    padding: 0 20px;
  }
  .nav-list {
    display: none;
  }
  .nav-on {
    display: flex;
  }
  .logs {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu-icon {
    display: block;
  }
  .log-in {
    display: block;
  }

  /*sec1*/

  /* .sec1-con {
    margin-top: 0;
  }
  */

  /*sec3*/

  .sec3-con {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sec3-left {
    align-items: center;
    text-align: center;
  }

  /*sec4*/

  .sec-con {
    flex-direction: column-reverse;
    gap: 35px;
  }
  .sec4-left {
    width: 90vw;
  }
}
@media (max-width: 576px) {
  .object {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .sec2-con {
    padding: 0 35px;
  }
  .sec1-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 13px;
    text-align: center;
  }
  .sec1-right {
    display: none;
  }
  .sec3-con {
    padding: 0;
  }
  .sec3-left {
    width: 100%;
  }
  .sec3-right {
    width: 100%;
  }
  .product-con {
    padding: 15px;
  }
  .footer {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer-items {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  .bahai {
    display: block;
  }
  .footer-item {
    text-align: center;
  }
  .items-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .big-rect img {
    display: none;
  }
}
